body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sb-card {
  margin: 20px;
}

.sb-card-image {
  border-radius: 10px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.sb-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.sb-card-title {
  font-size: 24px;
  margin: 0px;
}

.sb-card-subtitle {
  font-size: 16px;
  margin: 0px;
}

.success-msg {
  color: #57a773;
  padding: 10px 15px;
}

.err-msg {
  color: #ee6352;
  padding: 10px 15px;
}

.space-background {
  background: url("./assets/images/space.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sb-light-grey {
  color: rgba(255, 255, 255, 0.712);
}

.sb-white {
  color: white;
}

.sb-minheight {
  min-height: 100vh;
  overflow: hidden;
}

.sc-custom-text-1 {
  font-family: "Alegreya";
}

.sb-tnr {
  font-family: "Times New Roman";
}

#about-page {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  width: 80%;
  margin-left: 10%;
}

.sb-neg-mar-bot {
  margin-bottom: -50px;
}

.sb-mar-bot {
  margin-bottom: 5%;
}

.sb-name {
  font-size: 1.5em;
  color: gold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sb-resume {
    width: 400px;
    height: 200px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sb-resume {
    width: 500px;
    height: 300px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sb-resume {
    width: 600px;
    height: 400px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sb-resume {
    width: 800px;
    height: 500px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .sb-resume {
    width: 1000px;
    height: 600px;
  }
}
